<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
	<div class="container">
			<h1>Student</h1>
			<a href="/" class="btn btn-info">Home</a>
			<hr />
			<h3><%= name %></h3>
			<hr />
			<h3><%= age %></h3>
			<hr />
			<h3><%= city %></h3>
			<hr />
	</div>
</body>
</html>
